@font-face {
    font-family: 'SVN-Arial Medium';
    src: url('../fonts/SVN-Arial3.woff2') format('woff2'), url('../fonts/SVN-Arial3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-Arial Bold';
    src: url('../fonts/SVN-ArialBold.woff2') format('woff2'), url('../fonts/SVN-ArialBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-Arial Regular';
    src: url('../fonts/SVN-ArialRegular.woff2') format('woff2'), url('../fonts/SVN-ArialRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: 'SVN-Arial Light';
    src: url('../fonts/SVN-Arial2.woff2') format('woff2'), url('../fonts/SVN-Arial2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

.font-light {
    font-family: 'SVN-Arial Light';
}

.font-regular {
    font-family: 'SVN-Arial Regular';
}

.font-medium {
    font-family: 'SVN-Arial Bold';
}

.font-bold {
    font-family: 'SVN-Arial Bold';
}

.font-18px {
    font-size: 18px;
}

.font-16px {
    font-size: 16px;
}

.font-15px {
    font-size: 15px;
}

.font-14px {
    font-size: 14px;
}

.font-20px {
    font-size: 20px;
}

.font-22px {
    font-size: 22px;
}