@media (max-width:1200px) {
    .wrap-opinion .item .info {
        width: 30%;
    }
    .wrap-opinion .item .description {
        width: 45%;
    }
}

@media (min-width:992px) {
    header .login-mobile {
        display: none;
    }
    header .login-mobile .modal-open,
    .modal-backdrop {
        display: none!important;
    }
}

@media (max-width:991px) {
    .navbar .navbar-toggler {
        margin: 10px;
    }
    .banner .banner-item .content {
        left: 0;
        height: 60%;
        width: 75%;
        padding: 20px;
    }
    .banner .banner-item .content h1 {
        font-size: 35px;
    }
    .banner .banner-item .content a {
        width: 75%;
    }
    .wrap-opinion .slick-dots {
        bottom: -20px;
    }
    .opinion .list-opinion {
        padding: 20px;
    }
    .wrap-opinion .item .info {
        margin-bottom: 30px;
        padding: 5px;
    }
    .wrap-opinion .item .description {
        width: 60%;
    }
    .wrap-opinion .item .description .des-text {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .wrap-opinion .item .description .des-text i {
        display: none;
    }
    header .login-pc {
        display: none;
    }
    header .login-mobile {
        display: block;
        text-align: right;
    }
}

@media (max-width:768px) {
    .register form button {
        width: 50%;
    }
    header .modal-content {
        width: 80%;
        margin: 0 auto;
    }
    .img-banner {
        display: none;
    }
    .banner .banner-item .content {
        left: 0;
        height: 60%;
        width: 75%;
        padding: 20px;
    }
    .banner .banner-item .content h1 {
        font-size: 30px;
    }
    .banner .banner-item .content a {
        width: 75%;
    }
    .wrap-opinion .item .description .des-text i {
        display: none;
    }
    .wrap-opinion .slick-dots {
        bottom: -20px;
    }
    .wrap-opinion .item .info {
        width: 45%;
        padding: 5px;
    }
    .wrap-opinion .item .info .block {
        /* display: none; */
    }
    .wrap-opinion .item .description {
        width: 90%;
        padding: 10px;
    }
    .wrap-opinion .item .description .line {
        /* display: none; */
    }
    .wrap-opinion .item .description .rate {
        /* display: none; */
        margin-left: 0!important;
    }
    .wrap-opinion .item .description .des-text {
        font-size: 15px;
        margin: 0!important;
        margin-top: 10px;
    }
}

@media(max-width:575px) {
    .banner .banner-item img {
        height: 200px;
        object-fit: fill;
    }
    .wrap-content-slide .content-slide-item .content {
        height: 50%;
    }
    .wrap-content-slide .content-slide-item img {
        height: 200px;
        object-fit: fill;
    }
    .banner .banner-item .content {
        left: 0;
        height: auto;
        width: 80%;
        padding: 20px;
    }
    .banner .banner-item .content a {
        width: 75%;
    }
    .list-status table tbody tr td i.fa-star {
        display: none;
    }
    .opinion {
        padding: 15px;
    }
    .wrap-opinion .slick-dots {
        bottom: -20px;
    }
    .opinion .list-opinion {
        padding: 10px;
    }
    .wrap-opinion .item .info {
        width: 75%;
        margin-bottom: 30px;
        padding: 5px;
    }
    .wrap-opinion .item .description {
        width: 80%;
        padding: 10px;
    }
    .wrap-opinion .item .description .rate {
        /* display: none; */
        margin-left: 0!important;
    }
    .wrap-opinion .item .description .des-text {
        font-size: 15px;
        margin: 0!important;
        margin-top: 10px;
    }
    .list-status table tbody tr td:nth-child(5) .btn {
        width: auto;
    }
    .list table {
        width: 150%;
    }
}