@media (max-width:1200px) {
    .wrap-opinion .item .info {
        width: 30%;
    }
    .wrap-opinion .item .description {
        width: 45%;
    }
}

@media (min-width:992px) {
    .wrap-new .slick-slide {
        margin: 0 27px;
    }
    .wrap-new .slick-list {
        margin: 0 -27px;
    }
    header .login-mobile {
        display: none;
    }
    header .login-mobile .modal-open,
    .modal-backdrop {
        display: none!important;
    }
}

@media (max-width:991px) {
    .navbar .navbar-toggler {
        margin: 10px;
    }
    .banner .banner-item .content {
        left: 0;
        height: 60%;
        width: 75%;
        padding: 20px;
    }
    .banner .banner-item .content h1 {
        font-size: 35px;
    }
    .banner .banner-item .content a {
        width: 75%;
    }
    .wrap-opinion .slick-dots {
        bottom: -20px;
    }
    .opinion .list-opinion {
        padding: 20px;
    }
    .wrap-opinion .item .info {
        margin-bottom: 30px;
        padding: 5px;
    }
    .wrap-opinion .item .description {
        width: 60%;
    }
    .wrap-opinion .item .description .des-text {
        font-size: 15px;
        margin-top: 10px;
        margin-left: 20px;
    }
    .wrap-opinion .item .description .des-text i {
        display: none;
    }
    header .login-pc {
        display: none;
    }
    header .login-mobile {
        display: block;
        text-align: right;
    }
}

@media (max-width:768px) {
    .wrap-list .banner-top h3 {
        font-size: 22px!important;
    }
    .onTop {
        bottom: 130px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .register form button {
        width: 50%;
    }
    header .modal-content {
        width: 80%;
        margin: 0 auto;
    }
    .img-banner {
        display: none;
    }
    .banner .banner-item .content {
        left: 0;
        height: 60%;
        width: 75%;
        padding: 20px;
    }
    .banner .banner-item .content h1 {
        font-size: 30px;
    }
    .banner .banner-item .content a {
        width: 75%;
    }
    .wrap-opinion .item .description .des-text i {
        display: none;
    }
    .wrap-opinion .slick-dots {
        bottom: -20px;
    }
    .wrap-opinion .item .info {
        width: 45%;
        padding: 5px;
    }
    .wrap-opinion .item .info .block {
        /* display: none; */
    }
    .wrap-opinion .item .description {
        width: 90%;
        padding: 10px;
    }
    .wrap-opinion .item .description .line {
        /* display: none; */
    }
    .wrap-opinion .item .description .rate {
        /* display: none; */
        margin-left: 0!important;
    }
    .wrap-opinion .item .description .des-text {
        font-size: 15px;
        margin: 0!important;
        margin-top: 10px;
    }
    footer {
        padding-bottom: 70px;
    }
    /* SIDEBAR RIGHT */
    .sidebar__right {
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        background-color: #233D67;
        box-shadow: 0 4px 10px 0 #000;
    }
    .sidebar__item {
        padding-top: 20px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column-reverse;
    }
    .sidebar__right a {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }
    .sidebar__item .text .icon {
        top: -30px;
        right: 50%;
        transform: translateX(50%);
        width: 40px;
        height: 40px;
        font-size: 20px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
    .sidebar__item .text {
        width: auto;
        height: auto;
        margin: 0 auto;
        padding: 5px;
        font-size: 13px;
    }
    .sidebar__item .item-child {
        margin-bottom: 40px;
        display: none;
    }
    .sidebar__item.active .item-child {
        display: flex;
    }
    /* END SIDEBAR RIGHT */
}

@media(max-width:575px) {
    .wrap-list .banner-top h3 {
        font-size: 18px;
    }
    .wrap-content-slide .content-slide-item {
        height: 250px;
    }
    .wrap-content-slide .content-slide-item .content {
        height: 40%;
    }
    .banner .banner-item img {
        height: auto;
    }
    .banner .banner-item .content {
        left: 0;
        height: auto;
        width: 80%;
        padding: 20px;
    }
    .banner .banner-item .content a {
        width: 75%;
    }
    .list-status table tbody tr td i.fa-star {
        display: none;
    }
    .opinion {
        padding: 15px;
    }
    .wrap-opinion .slick-dots {
        bottom: -20px;
    }
    .opinion .list-opinion {
        padding: 10px;
    }
    .wrap-opinion .item .info {
        width: 75%;
        margin-bottom: 30px;
        padding: 5px;
    }
    .wrap-opinion .item .description {
        width: 80%;
        padding: 10px;
    }
    .wrap-opinion .item .description .rate {
        /* display: none; */
        margin-left: 0!important;
    }
    .wrap-opinion .item .description .des-text {
        font-size: 15px;
        margin: 0!important;
        margin-top: 10px;
    }
    .list-status table tbody tr td:nth-child(5) .btn {
        width: auto;
    }
    .list table {
        width: 150%;
    }
    footer ul {
        margin-top: 10px;
    }
    footer .socialte {
        margin-top: 10px;
    }
    html {
        overflow-x: hidden!important;
    }
}