* {
    font-family: 'SVN-Arial Regular';
}

html {
    overflow-x: hidden;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
    outline: none;
}

.btn-orange {
    color: #fff!important;
    background-color: #FF5E00;
    border-color: #FF5E00;
}

.btn-red {
    color: #fff!important;
    background-color: #EA2027;
    border-color: #EA2027;
}

.btn-home {
    color: #fff!important;
    background-color: #233D67;
    border-color: #233D67;
}

.bg-home {
    background-color: #233D67;
}

.bg-orange {
    background-color: #FF5E00;
}

.bg-input {
    background-color: #dcdde1!important;
    border: #dcdde1;
}

.text-gray {
    color: #7f8c8d;
}

.text-orange {
    color: #FF5E00;
}

.img-cover {
    object-fit: cover;
}

.w-20 {
    width: 20%;
}


/* MENU TOP */

.menu-top .support a {
    color: #fff;
}


/* ONTOP */

.onTop {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: -99;
    color: #fff;
    background: #FDC830;
    background: linear-gradient(to right, #F37335, #FDC830);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transition: all .2s ease-in-out;
    opacity: 0;
}

.onTop.active {
    opacity: 1;
    z-index: 99;
}

.onTop:hover {
    color: #fff;
}


/* SIDEBAR RIGHT */

.sidebar__right {
    position: fixed;
    right: 20px;
    bottom: 80px;
    z-index: 2;
    opacity: 0;
    transition: all .2s ease-in;
}

.sidebar__right.active {
    opacity: 1;
}

.sidebar__item {
    position: relative;
    text-decoration: none;
    color: #fff!important;
    margin-bottom: 15px;
    display: block;
    cursor: pointer;
}

.sidebar__item:hover {
    text-decoration: none;
}

.sidebar__item .text {
    position: relative;
    height: 50px;
    border-radius: 50px;
    z-index: -1;
    transition: all .5s ease;
    width: 150px;
    padding-left: 20px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.sidebar__item .text .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.sidebar__item:nth-child(1) .icon,
.sidebar__item:nth-child(1) .text {
    background: linear-gradient(to left, #e65245, #e43a15);
}

.sidebar__item:nth-child(2) .icon,
.sidebar__item:nth-child(2) .text {
    background-color: #8BC6EC;
    background-image: linear-gradient(to left, #8BC6EC 0%, #9599E2 100%);
}

.sidebar__item:nth-child(3) .icon,
.sidebar__item:nth-child(3) .text {
    background-color: #FBAB7E;
    background-image: linear-gradient(to left, #FBAB7E 0%, #F7CE68 100%);
}

.sidebar__item:nth-child(4) .icon,
.sidebar__item:nth-child(4) .text {
    background-color: #FF9A8B;
    background-image: linear-gradient(to to right, #FF6A88, #FF99AC);
}

.sidebar__item:nth-child(5) .icon,
.sidebar__item:nth-child(5) .text {
    background: #41295a;
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);
    background: linear-gradient(to right, #2F0743, #41295a);
}

.sidebar__item .item-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all .5s ease;
    /* display: none; */
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.sidebar__item.active .item-child {
    opacity: 1;
    height: auto;
    overflow: visible;
}

.sidebar__item .item-child a {
    width: 130px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: start;
    padding-left: 15px;
    align-items: center;
    color: #fff;
    border-radius: 15px;
    margin-top: 5px;
    transition: 1s;
    background-size: 200% auto;
    transform: translateX(200%);
}

.sidebar__item .item-child a i {
    margin-right: 5px;
}

.sidebar__item.active .item-child a {
    transform: translateX(0);
}

.sidebar__item .item-child a:nth-child(1) {
    transition-delay: .1s;
}

.sidebar__item .item-child a:nth-child(2) {
    transition-delay: .3s;
}

.sidebar__item .item-child a:nth-child(3) {
    transition-delay: .5s;
}

.sidebar__item .item-child a:hover {
    background-position: right center;
    text-decoration: none;
}

.sidebar__item:nth-child(1) .item-child a {
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476 51%, #FF512F 100%);
}

.sidebar__item:nth-child(2) .item-child a {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
}

.sidebar__item:nth-child(3) .item-child a {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D 51%, #F09819 100%)
}

.sidebar__item:nth-child(4) .item-child a {
    background-image: linear-gradient(to right, #FFAFBD 0%, #ffc3a0 51%, #FFAFBD 100%)
}

.sidebar__item:nth-child(5) .item-child a {
    background-image: linear-gradient(to right, #20002c 0%, #cbb4d4 51%, #20002c 100%)
}


/* END SIDEBAR RIGHT */


/* HEADER */

header form .form-check {
    margin-top: 10px;
    position: absolute;
    top: 90%;
    left: 0;
}

header form .form-check input {
    width: 15px;
    height: 15px;
    border: 1px solid red;
    border-radius: 5px;
}

header form .btn-show-hide {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #3E577F;
    cursor: pointer;
}


/* END HEADER */


/* Nav bar */

nav.navbar {
    transition: all 1s ease-in;
    padding: 0;
}

nav.navbar.active {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
}

.navbar .navbar-toggler {
    background-color: #fff;
    color: #233D67;
    margin-left: 15px;
}

.navbar .nav-link {
    padding: 15px;
    transition: all .2s ease-in-out;
}

.navbar .nav-link:hover {
    color: #233D67!important;
    background-color: #fff;
}


/* BANNER */

.wrap-banner_slide {
    margin-bottom: 0!important;
}

.wrap-banner_slide .slick-dots {
    bottom: 20px;
}

.wrap-banner_slide .slick-dots li button::before {
    font-size: 16px;
}

.wrap-banner_slide .slick-dots li.slick-active button::before {
    color: #FF5E00;
}

.wrap-banner_slide .slick-dots li button::before {
    color: #233D67;
    opacity: 1;
}

.banner .banner-item {
    position: relative;
}

.banner .banner-item img {
    height: 380px;
    width: 100%;
    object-fit: cover;
}


/* .banner .banner-item .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    width: 45%;
    background-color: rgba(0, 0, 0, .7);
    padding: 20px 40px;
    border-radius: 20px;
}

.banner .banner-item .content h1 {
    font-size: 50px;
    width: 80%;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.banner .banner-item .content h1 span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #FF5E00;
}

.banner .banner-item .content p {
    font-size: 18px;
    line-height: 30px;
}

.banner .banner-item .content a {
    border: 3px solid #FF5E00;
    width: 35%;
    color: #FF5E00;
    border-radius: 30px;
    transition: all .5s ease-in;
    font-size: 22px;
}

.banner .banner-item .content a:hover {
    background-color: #FF5E00;
    color: #fff;
} */


/* END BANNER */


/* START SLIDER CONTENT */

.slide-content {
    /* background: linear-gradient(to top, rgba(35, 61, 103, 1), rgba(35, 61, 103, .5), rgba(35, 61, 103, .2)), url(../images/bg-scroll.jpg); */
    background: #4b6cb7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wrap-content-slide .slick-slide {
    margin: 0 15px;
}

.wrap-content-slide .slick-list {
    padding: 15px 0;
    margin: 0 -15px;
}

.wrap-content-slide .slick-arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    transition: all .5s ease-in;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.wrap-content-slide .slick-arrow:hover {
    background-color: #FF5E00;
}

.wrap-content-slide .slick-arrow:hover::before {
    color: #fff;
}

.wrap-content-slide .slick-prev {
    left: -65px;
}

.wrap-content-slide .slick-prev::before {
    content: "\f177";
    font-weight: 900;
    color: #FF5E00;
    font-family: "Font Awesome 5 Pro";
    line-height: 42px;
}

.wrap-content-slide .slick-next {
    right: -65px;
}

.wrap-content-slide .slick-next::before {
    content: "\f178";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
    line-height: 42px;
    color: #FF5E00;
}

.wrap-content-slide .content-slide-item {
    display: block;
    transition: all .5s ease-in;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.wrap-content-slide .content-slide-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(35, 61, 103, 0) 30%, rgba(36, 46, 61, .9) 100%);
}

.wrap-content-slide .content-slide-item img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .5s ease-in-out;
}

.wrap-content-slide .content-slide-item:hover img {
    transform: scale(1.2);
}

.wrap-content-slide .content-slide-item .content {
    position: absolute;
    bottom: 0px;
    left: 10px;
    z-index: 2;
    height: 30%;
    padding: 5px 10px;
}

.wrap-content-slide .content-slide-item:hover {
    transform: translateY(-5px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrap-content-slide .content-slide-item .content h4 {
    font-size: 20px;
    font-family: 'SVN-Arial Bold';
}

.wrap-content-slide .content-slide-item .content p {
    font-size: 18px;
    /* font-family: 'San Francisco Medium'; */
}


/* END SLIDER CONTENT */


/* LIST */

.list {
    background: linear-gradient( to top, rgba(35, 61, 103, .7), rgba(35, 61, 103, .5)), url(../images/cup2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 150px;
    background-attachment: fixed;
}

.wrap-list {
    position: relative;
    z-index: 1;
}

.wrap-list .banner-top {
    height: 60px;
    /* font-size: 50px; */
}

.wrap-list .banner-top h3 {
    font-family: 'SVN-Arial Bold';
    font-size: 28px;
    background: #F2994A;
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);
    background: linear-gradient(to right, #F2C94C, #F2994A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrap-list .col-sm-12:nth-child(2) .banner-top h3 {
    background: linear-gradient(to left, #F2C94C, #F2994A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrap-list .col-sm-12:nth-child(2) .banner-top i {
    font-size: 40px;
    transform: translateY(-30%);
    margin-right: 5px;
    color: #F29D4A;
}

.wrap-list .banner-top img {
    width: 80px;
    object-fit: cover;
}

.list table tbody tr td,
.list table tbody tr th {
    vertical-align: middle;
    border-top: none;
    /* font-family: 'SVN-Arial Bold'; */
    font-weight: bold;
}

.list table tbody tr td,
.list table tbody tr th {
    height: 50px;
    padding: 0 .75rem;
}

.list-status table tbody tr td .btn {
    padding: .3rem .75rem;
    font-size: .85rem;
}


/* list top */

.list table {
    opacity: .9;
}

.list-top table {
    /* overflow: hidden; */
    border-radius: 15px;
    background-image: linear-gradient( to left, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);
}

.list table thead th:first-child {
    border-radius: 15px 0 0 0;
}

.list table thead th:last-child {
    border-radius: 0 15px 0 0;
}

.list table thead tr {
    background-color: #F6F5F5;
}

.list table thead th {
    border: none;
    color: #2f3640;
}

.list-top table tbody tr {
    color: #fff;
    font-size: 16px;
    transition: all .1s ease-in;
    cursor: pointer;
}

.list-top table tbody tr:hover {
    transform: scale(1.02);
}

.list table tbody tr th {
    width: 5%;
    text-align: center;
}

.list-top table tbody tr th .award {
    width: 50px;
    object-fit: contain;
}

.list-top table tbody tr th .stt {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 30px;
    background-color: #EFEFEF;
    color: #C24348;
    display: inline-block;
}

.list table tbody tr:nth-child(2) th img {
    width: 45px;
}

.list-top table tbody tr:nth-child(1) {
    background-color: rgb(250, 104, 85, .9);
}

.list-top table tbody tr:nth-child(2) {
    background-color: rgb(224, 86, 79, .9);
}

.list-top table tbody tr:nth-child(3) {
    background-color: rgb(216, 80, 77, .9);
}

.list-top table tbody tr:nth-child(4) {
    background-color: rgb(205, 74, 74, .9);
}

.list-top table tbody tr:nth-child(5) {
    background-color: rgb(194, 67, 72, .9);
}

.list-top table tbody tr:nth-child(5) th {
    border-radius: 0 0 0 15px;
}

.list-top table tbody tr:nth-child(5) td:last-child {
    border-radius: 0 0 15px 0;
}


/*  */

.list-status table {
    /* overflow: hidden; */
    border-radius: 15px;
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.list-status table tbody tr {
    color: #535c68;
}

.list-status table tbody tr td:nth-child(4) .btn {
    width: 80px;
}

.list-status table tbody tr td:nth-child(5) .btn {
    width: 120px;
    font-family: 'SVN-Arial Bold';
    transition: all .2s ease-in;
}

.list-status table tbody tr td .withdrawal {
    background-color: #5243DD;
    color: white;
}

.list-status table tbody tr td .recharge {
    background-color: #eccc68;
    color: white;
}

.list-status table tbody tr td .success {
    background-color: #EBF9F5;
    color: #5EB99A;
}

.list-status table tbody tr td .success:hover {
    background-color: #5EB99A;
    color: #fff;
}

.list-status table tbody tr td .new {
    background-color: #FEF8E6;
    color: #F6B31E;
}

.list-status table tbody tr td .new:hover {
    background-color: #F6B31E;
    color: #fff;
}

.list-status table tbody tr td .fail {
    background-color: #FFF2F7;
    color: #CA4C6B;
}

.list-status table tbody tr td .fail:hover {
    background-color: #CA4C6B;
    color: #fff;
}


/* END LIST */

.title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #FF5E00;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}


/* REGISTER */

.register {
    background: linear-gradient(to right, rgba(35, 61, 103, .6), rgba(48, 62, 85, .2)), url(../images/register.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    position: relative;
    padding: 80px 0;
}

.register form .form-group {
    position: relative;
    /* margin-bottom: 40px; */
}

.register form .form-group label {
    font-family: 'SVN-Arial Bold';
    color: white;
}

.register form .form-group #code {
    padding: 0 15px;
    border-radius: 20px;
    background: url(../images/bg-code.jpg) no-repeat;
    background-size: cover;
    color: #fff;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Caveat', cursive;
    letter-spacing: 4px;
    font-size: 25px;
}

.register form input {
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 15px;
}

.register form input:focus {
    border-color: #FF5E00;
}

.register form button {
    font-family: 'SVN-Arial Bold';
    border-radius: 15px;
    padding: 10px 15px;
    width: 25%;
    margin-top: 20px;
}

.img-banner {
    position: absolute;
    bottom: 0;
    right: 0;
    /* opacity: 0; */
}

.img-banner img {
    object-fit: cover;
}


/* END REGISTER */


/* START NEWS */

.news {
    position: relative;
    background: linear-gradient( rgba(35, 61, 103, .8), rgba(35, 61, 103, .5)), url(../images/bg-sub3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wrap-new .slick-arrow {
    top: -50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    transition: all .5s ease-in;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.wrap-new .slick-prev {
    left: 90%;
}

.wrap-new .slick-next {
    right: 5px;
}

.wrap-new .slick-prev::before {
    content: "\f177";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
    line-height: 42px;
    color: #FF5E00;
}

.wrap-new .slick-next::before {
    content: "\f178";
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
    line-height: 42px;
    color: #FF5E00;
}

.wrap-new .slick-arrow:hover {
    background-color: #FF5E00;
}

.wrap-new .slick-arrow:hover::before {
    color: #fff;
}

.wrap-new .item img {
    height: 250px;
    object-fit: cover;
}

.wrap-new .item .content {
    background-color: rgba(255, 255, 255, 1);
}

.wrap-new .item .content .date {
    color: #FF5E00;
    font-family: 'SVN-Arial Bold';
    font-size: 18px;
}

.wrap-new .item .content .des {
    line-height: 30px;
    -webkit-line-clamp: 3;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.wrap-new .item .content a {
    color: #000;
    transition: all .5s ease-in;
}

.wrap-new .item .content a i {
    transform: translateY(1px);
}

.wrap-new .item {
    border-bottom: 5px solid transparent;
    transition: all .5s ease-in;
}

.wrap-new .item:hover {
    border-color: #FF5E00;
}

.wrap-new .item:hover a {
    color: #FF5E00;
}


/* END NEWS */


/* OPINION */

.opinion {
    background-color: rgba(35, 61, 103, .8);
    padding: 50px;
}

.opinion .list-opinion {
    background-color: rgba(35, 61, 103, 1);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 50px;
    border-radius: 5px;
}

.wrap-opinion .item {
    flex-wrap: wrap;
}

.wrap-opinion .item .info {
    width: 20%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

.wrap-opinion .slick-list {
    padding: 30px;
}

.wrap-opinion .item .info img {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.wrap-opinion .item .info .name {
    margin: 5px 0;
    font-family: 'SVN-Arial Bold';
    font-size: 20px;
}

.wrap-opinion .item .info p {
    margin-bottom: 0;
    font-size: 16px;
}

.wrap-opinion .item .info .block {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 120%;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-color: #FF5E00;
    border-radius: 20px;
}

.wrap-opinion .item .description {
    width: 50%;
}

.wrap-opinion .item .description .des-text {
    margin-left: 100px;
    margin-top: 70px;
    color: #fff;
    line-height: 28px;
    position: relative;
}

.wrap-opinion .item .description .des-text i.fa-quote-left {
    position: absolute;
    top: -30px;
    left: -80px;
    font-size: 40px;
}

.wrap-opinion .item .description .des-text i.fa-quote-right {
    position: absolute;
    bottom: -50px;
    right: -60px;
    font-size: 40px;
}

.wrap-opinion .item .description .line {
    width: 170px;
    height: 5px;
    background-color: #fff;
}

.wrap-opinion .item .description .rate i {
    color: #f5cd79;
}

.wrap-opinion .slick-dots {
    bottom: -50px;
}

.wrap-opinion .slick-dots li button::before {
    font-size: 16px;
}

.wrap-opinion .slick-dots li.slick-active button:before {
    color: #fff;
}


/* END REVIEWS */


/* FOOTER */

.list-footer li a {
    font-family: 'SVN-Arial Bold';
    color: #fff;
}

.list-footer li:not(:last-child) a {
    border-right: 2px solid #fff;
    margin-right: 10px;
    padding-right: 10px;
}

footer .socialte a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    /* border: 1px solid white; */
    box-shadow: rgb(255, 255, 255) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

footer .socialte a:not(:first-child) {
    margin-left: 20px;
}


/* END FOOTER */


/* PARTICLES JS */


/* #particles-list canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #233D67;
}

#particles-list .card {
    position: relative;
    z-index: 2;
    border: none;
} */


/* REGISTER PAGE */

.register-page {
    background: linear-gradient(to right, rgba(35, 61, 103, .6), rgba(48, 62, 85, .2)), url(../images/bg-scroll.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    position: relative;
    padding: 80px 0;
}

.register-page form input {
    border-radius: .25rem;
}


/* END REGISTER PAGE */


/* ========================= */


/* SIDEBAR LEFT */

.side__left ul li {
    padding: 0;
}

.side__left ul li a {
    display: inline-block;
    color: #233D67;
    padding: .6rem 1.2rem;
    width: 100%;
    text-decoration: none;
    transition: all .5s;
}

.side__left ul li a i {
    margin-right: 5px;
    transform: translateY(1px);
}

.side__left ul li:hover {
    background: linear-gradient(to right, #182848, #4b6cb7);
    cursor: pointer;
}

.side__left ul li:hover a {
    color: #fff;
}


/* END SIDEBAR LEFT */


/* ========================= */


/* CONTACTS */

.contact .card-body h6 i {
    width: 4%;
    color: #FF5E00;
    font-size: 18px;
}

.contact .card-body h6 a {
    color: #FF5E00;
}


/* ========================= */